/* geral */

body, textarea{
    margin: 0;
    padding: 0;
    font-family: 'Geologica', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
}

h1{
    color: darkblue;
}

h2,h3{
    color: black;
}

p{
    color: black;
}

/* barra de navegação */

.conteudo-navbar{
    width: 100%;
    height: 80px;
    background-color: #211B15;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box; 
}

.logo{
    width: 50px;
    margin-top: 20px;
}

nav{
    position: relative;
}

.items-navbar{
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 0;
    right: 0;
}

.items-navbar li{    /* "li" representa lista */
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.items-navbar li a{
    color: white;
    text-decoration: none;
    transition: .5s;
}

.items-navbar li a:hover{      /* animação cursor em cima do elemento*/
    color: gray; 
}

.default-btn{
    padding: 15px 20px;
    background-color: #6cbb3c;
    border-radius: 5px;  /*bordas arrendondadas*/
    color: white;
}

/* main banner */

.main-banner{
    background-image: url(img/mainbanner.png);
    background-size: cover;
    background-position: center;
    padding: 10em 0;  /*distancia entre o conteudo e suas bordas*/
    position: relative;
}

.main-banner h1, .main-banner p{
    color: white;
    text-align: center;
    font-weight: bold;
}

.main-banner h1{
    font-size: 54px;
}

.main-banner p{
    font-size: 32px;
}